@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sarabun', 'Inter', sans-serif;
  background-color: #F9FAFB;
}

/* ซ่อนปุ่ม X ของ Google Maps InfoWindow */
.gm-style-iw-chr {
  height: 0 !important;
  overflow: hidden !important;
}
